.hero-page{
    //border: 2px solid red;
    height: 800px;
    padding: 3em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;

    .image-container{
        .image{
            background: url("https://images.unsplash.com/photo-1457449940276-e8deed18bfff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
            background-size: cover;
            background-position: center;
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }

    .hero-text{
        h2{
            //border: 1px solid black;
            max-width: 550px;
            font-size: 3em;
        }
        p{
            //border: 1px solid crimson;
            max-width: 550px;
            font-size: 1.5em;
        }

        button{
            padding: 1.1em 1.8em;
            margin-top: 1.5em;
            background: #2e4bca;
            color: white;
            font-weight: bold;
            font-size: 1.2em;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 400ms ease;
        }

        button:hover{
            background: #6857CD;
        }
    }

    svg{
        display: none;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}

@media screen and (min-width: 1000px) {
    .hero-page{
        flex-direction: row;

        svg{
            display: block;
        }
    }
}