<div class="hero-page">
    
    <div class="hero-text">
        <h2>Alperen Üstün</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, minus inventore! Culpa unde rerum quidem maxime quas tempora, ipsa harum?</p>
        <button>Get started!</button>
    </div>
    <div class="image-container">
        <!--<img src="https://images.unsplash.com/photo-1457449940276-e8deed18bfff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
        -->
        <div class="image"></div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#2e4bca" fill-opacity="1" d="M0,288L120,288C240,288,480,288,720,261.3C960,235,1200,181,1320,154.7L1440,128L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
    
</div>
