.hero-page{
    //border: 2px solid red;
    background: linear-gradient(
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 0.1)
      ),
      url("https://images.unsplash.com/photo-1618215689188-027e3948cf42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    height: 800px;
    padding: 3em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    

    .image-container{
        .image{
            background: url("https://images.unsplash.com/photo-1457449940276-e8deed18bfff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
            background-size: cover;
            background-position: center;
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }

    .hero-text{
        h2{
            text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
            text-shadow: .1em .1em 0 hsl(200 50% 30%);
            text-shadow: 2px 3px 2px rgba(143,143,143,0.68);
            max-width: 550px;
            font-size: 3em;
            span:first-child{
                //transition: 500ms;
                animation: northwindColor infinite 4s;
            }
            span:last-child{
                //color: #2e4bca;
                //transition: 500ms;
                animation: northwindColorSecond infinite 4s;
            }
        }
        /* h2:hover{
            span:first-child{
                color: #2e4bca;
            }
            span:last-child{
                color: #303030;
            }
        } */
        p{
            max-width: 550px;
            font-size: 1.5em;
            font-weight: 600;
            line-height: 1.5em;
            //color: #383838;
        }

        button{
            padding: 1.1em 1.8em;
            margin-top: 1.5em;
            background: #2e4bca;
            color: white;
            font-weight: bold;
            font-size: 1.2em;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 400ms ease;
        }

        button:hover{
            background: #6857CD;
        }
    }

    svg{
        display: none;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}

@media screen and (min-width: 1000px) {

    .hero-page{
        flex-direction: row;

        svg{
            display: block;
        }
    }

    .hero-text{
        h2{
            color: #303030;
            font-size: 4em;
            text-transform: uppercase;
        }
        p{
            //color: #383838;
            color: #525252;
            font-weight: 500!important;
        }
    }
}

@keyframes northwindColor {
    0%{
        color: #2e4bca;
    }
    50%{
        color: #303030;
    }
    100%{
        color: #2e4bca;
    }
}
@keyframes northwindColorSecond {
    0%{
        color: #303030;
    }
    50%{
        color: #2e4bca;
    }
    100%{
        color: #303030;
    }
}
    