<div class="categories-outer">
    <div class="categories-card-outer">
        <div class="category-card" *ngFor="let category of categories" style="background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)), url(http://localhost:3030/api/products/images/{{category.id}}.jpg); background-size: cover; background-position: center;">
            <h1>{{category.name}}</h1>
            <div class="slide-up-container">
                <div class="image-container">
                    <img src="http://localhost:3030/api/products/images/{{category.id}}.jpg" alt="{{category.name}}">
                </div>
                <div class="descriptions-container">
                    <p>Category Name: <span>{{category.name | slice:0:30}}</span></p>
                    <p>Description: <span>{{category.description}}</span></p>
                </div>
                <div class="buttons-container">
                    <button (click)="RemoveCategory(category.id)">Delete</button>
                    <button>Update</button>
                    <button>More</button>
                </div>
            </div>
        </div>
        <div (click)="toggleAddUI()" class="add-btn">
            Add
        </div>
    </div>
</div>

<div class="add-popup-container" [ngStyle]="{'display':displayAddUI === false ? 'none' : 'flex' }">
    <form #form="ngForm">
        <div class="image-container">
            <img src="../../assets/images/add-product.png" alt="a guy adding products">
        </div>
        <div class="popup-login">
            <div class="form-name">
                <label for="text">Category Name</label>
                <input [(ngModel)]="model.name" name="name" type="text">
            </div>
            <div class="form-price">
                <label for="text">Description</label>
                <input [(ngModel)]="model.description" name="description"  type="text">
            </div>
            <div class="buttons">
                <button (click)="toggleAddUI()">Back</button>
                <button (click)="AddCategory()">Add</button>
            </div>
        </div>
    </form>
</div>
