*{
    list-style-type: none;
}

.products-outer{
    //border: 1px solid black;
    padding-top: 2em;

    nav{
        //border: 1px solid red;
        //display: flex;
        //justify-content: space-between;

        .search-container{
            //border: 1px solid coral;
            display: flex;
            //gap: 10px;
            li:first-child{
                width: 70%;
            }
            li:last-child{
                width: 30%;
            }
            input{
                border: 1px solid rgba($color: #575757, $alpha: 0.8);
                width: 100%;
                font-size: 1.2em;
                padding: 1em 0.5em;
            }

            input:focus{
                outline: none;
                border: 1px solid #2058d1;
                box-shadow: 0 0 2px #2058d1;
            }

            button{
                cursor: pointer;
                width: 100%;
                font-size: 1.2em;
                font-weight: bold;
                border: 1px solid #2058d1;
                //background: #2058d1;
                background-image: linear-gradient(to top, #2058d1, #1e53c3, #1c4db6, #1b48a8, #1a439b);
                color: white;
                padding: 1em 0;
            }
        }
    
        .view-container{
            border: 1px solid crimson;
            display: none;
        }
    
        .advanced-sort-container{
            display: flex;
            border: 1px solid rgba($color: #575757, $alpha: 0.8);
            margin-top: 5px;
            background: white;
            li:first-child{
                width: 30%;
                font-size: 1em;
                text-align: center;
                align-self: center;
            }
            li:nth-child(2){
                width: 40%;

                select{
                    width: 100%;
                    height: 100%;
                    font-size: 1em;
                    border: 1px solid rgba($color: #575757, $alpha: 0.8);
                }

                select:focus{
                    outline: none;
                    border: 1px solid #2058d1;
                    box-shadow: 0 0 2px #2058d1;
                }
            }
            li:last-child{
                width: 30%;
                button{
                    cursor: pointer;
                    width: 100%;
                    font-size: 1em;
                    font-weight: bold;
                    border: 1px solid #086618;
                    background: #086618;
                    background-image: linear-gradient(to top, #135150, #155e5d, #176b6a, #197977, #1a8785);
                    color: white;
                    padding: 0.5em 0;
                }
            }
        }

        .save-add-container{
            display: flex;
            //border: 1px solid rgba($color: #575757, $alpha: 0.8);
            margin-top: 5px;
            li:first-child{
                width: 70%;
                button{
                    cursor: pointer;
                    width: 100%;
                    font-size: 1.2em;
                    font-weight: bold;
                    border: 1px solid #086618;
                    background: #086618;
                    background-image: linear-gradient(to top, #135150, #155e5d, #176b6a, #197977, #1a8785);
                    color: white;
                    padding: 1em 0;
                }
            }
            li:last-child{
                width: 30%;
                button{
                    cursor: pointer;
                    width: 100%;
                    font-size: 1.2em;
                    font-weight: bold;
                    border: 1px solid #1443a8;
                    background: #1443a8;
                    background-image: linear-gradient(to top, #2058d1, #1e53c3, #1c4db6, #1b48a8, #1a439b);
                    color: white;
                    padding: 1em 0;
                }
            }
        }
    }
}

.product-card-outer{
    //border: 1px solid green;
    .product-card{
        //border: 1px solid red;
        background: white;
        padding: 2em;
        margin: 2em 1em;
        border-radius: 30px;

        .image-container{
            //border: 1px solid blue;
            img{
                display: block;
                margin: 0 auto;
                width: 250px;
            }
        }

        .descriptions-container{
            font-weight: bold;
        }

        .buttons-container{
            display: flex;
            justify-content: space-between;
            li:first-child{
                width: 33%;
                button{
                    width: 100%;
                    height: 100%;
                }
            }
            li:nth-child(2){
                width: 33%;
                button{
                    width: 100%;
                    height: 100%;
                }
            }
            li:last-child{
                width: 33%;
                button{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


@media screen and (min-width: 1000px) {
    .products-outer{
        nav{
            display: flex;
            padding: 0 1em;
            gap: 40px;

            .search-container{
                display: flex;
                width: 40%;
                input{
                    width: 100%;
                    font-size: 1em;
                    
                }
    
                input:focus{
                    box-shadow: 0 0 10px #2058d1;
                }
    
                button{
                    width: 100%;
                    font-size: 1em;
                    
                }
            }

            .view-container{
                border: 1px solid crimson;
                display: flex;
                width: 10%;
                font-size: 0.5em;
            }

            .advanced-sort-container{
                display: flex;
                background: #ffffff36;
                border: none;
                margin-top: 0;
                width: 20%;
                li:first-child{
                    display: none;
                }
                li:nth-child(2){
                    width: 50%;
                }
                li:last-child{
                    width: 50%;
                    button{
                        padding: 1em 0;
                    }
                }
            }

            .save-add-container{
                width: 30%;
                margin-top: 0;
                gap: 10px;
                li:first-child{
                    width: 70%;
                    button{
                        font-size: 1em;
                    }
                }
                li:last-child{
                    width: 30%;
                    button{
                        width: 100%;
                        font-size: 1em;
                    }
                }
            }
        }
    }
}