.searchBox{
    border: 1px solid rgba($color: #2e4bca, $alpha: 0.5);
    font-size: 1.2em;
    border-radius: 20px;
    padding: .5em;
}
.searchBox:focus{
    box-shadow: 0 0 5px #2e4bca;
    outline: none;
}
h1{
    margin-top: 1em;
    padding-left: 1.2em;
}
.product-card-outer{
    //border: 2px solid red;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;

    .product-card{
        border: 1px solid rgba($color: #c7c7c7, $alpha: 1.0);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 8px, rgba(0, 0, 0, 0.22) 0px 3px 5px;
        background: white;
        cursor: pointer;
        text-align: center;
        border-radius: 20px;
        max-height: 295px;
        padding: 1em;
        position: relative;
        transition: 300ms ease;
        .product-image-holder{
            //border: 1px solid green;
            width: 100%;
            img{
                width: 150px;
                margin: 0 auto;
            }
        }
        p{
            margin-top: 1em;
            min-height: 52px;
            max-height: 55px;
            min-width: 180px;
            max-width: 180px;
            font-size: 1.1em;
            color: #1f1f1f;
            overflow: hidden;
        }
        .price-container{
            max-width: 180px;
            margin-top: 1em;
            position: relative;
            text-align: left;
            font-weight: bold;
            font-size: .9em;
            svg:first-child{
                position: absolute;
                right: 35px;
                bottom: 0;
            }
            svg:last-child{
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        .discount{
            position: absolute;
            background: #2e4bca;
            padding: 0.2em 0.2em;
            font-size: 0.9em;
            border-radius: 3px;
            color: white;
            left: 15px;
            top: 20px;
        }
    }

    .product-card:hover{
        transform: translateY(-10px);
        background: #ececec;
    }
}

@media screen and (max-width: 450px){
    .product-card-outer{
        justify-content: center;
    }
}

@media screen and (min-width: 1300px){
    .product-card-outer{
        padding: 1em 2.5em 2.5em 2.5em;
        gap: 2em;
    }
}