<app-carousel [images]="images" [autoSlide]="true">
    
</app-carousel>
<div class="descriptions-container">
    <div class="card">
        <div class="image-container"></div>
        <div class="aboutme">
            <h3>Alperen Üstün</h3>
            <p>I completed my education in English Language Teaching at Trakya University. I started learning
                coding in 2020 with C# language then I had an interest in frontend development. I learned
                Javascript, HTML, CSS and took professional certificates. My aim is to pursue a career in
                frontend development and web design.
            </p>
        </div>
    </div>
</div>
