.register-outer{
    padding: 2em;
}

.register-container{
    border: 1px solid rgba($color: #c7c7c7, $alpha: 1.0);
    border-radius: 10px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 70vh;
    min-height: 550px;
    min-width: 350px;
    max-width: 500px;

    .signUp-text{
        //border: 2px solid black;
        span{
            color: #0f42b1;
            font-weight: bold;
            cursor: pointer;
        }
        span:hover{
            border-bottom: 2px solid #0f42b1;
        }
    }

    .input-box{
        //border: 2px solid green;
        position: relative;
        //width: 250px;

        input{
            width: 250px;
            padding: 15px;
            border: 1px solid rgba($color: #3f3f3f, $alpha: 0.3);
            border-radius: 5px;
            font-weight: bold;
        }

        input:valid ~ span,
        input:focus ~ span{
            color: black;
            transform: translateX(10px) translateY(-7px);
            font-size: 0.7em;
            padding: 0 5px;
            background: white;
            border-left: 1px solid black;
            border-right: 1px solid black;
        } 

        span{
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            pointer-events: none;
            color: #c7c7c7;
            transition: 400ms;
        }

        p{
            font-size: 0.8em;
        }

        svg{
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    button{
        background: #2058d1;
        color: white;
        padding: 1em 1.2em;
        width: 285px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.05em;
        cursor: pointer;
        transition: 200ms ease;
    }

    button:hover{
        background: #164bbd;
    }
}


@media screen and (min-width: 1300px) {

    .register-container{
        max-width: 650px;
    }
}